/* Estilos para la pantalla de detalles del item */

.item-details-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: linear-gradient(135deg, #A83D06 0%, #D2691E 100%);
    min-height: 100vh;
    color: #fff;
}

.item-details-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.back-button {
    background: #fff;
    color: #A83D06;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.back-button:hover {
    background: #f0f0f0;
}

.item-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.item-details-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item-basic-info {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    align-items: center;
}
.img-failed{
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
}

.item-horizontal-info {
    display: flex;
    gap: 2rem;
}

.item-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.item-info-text {
    font-size: 1rem;
}

.item-extra-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item-extra-info-horizontal {
    display: flex;
    gap: 2rem;
}

.item-chart-placeholder, .item-table-placeholder {
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.item-chart-placeholder h2, .item-table-placeholder h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.item-tier-list {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    color: #fff;
}

.item-tier-list h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.item-tier-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-tier-list li {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 0.5rem;
    transition: background 0.3s;
}

.item-tier-list li:hover {
    background: rgba(255, 255, 255, 0.4);
}

.item-tier-images {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 10px;
}

.tier-list {
    width: 100px;
    height: 100px;
    object-fit: contain;
}